<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiledevteam.calculator">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator"
        android:usesCleartextTraffic="true">
        <activity android:name=".profile.SavingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".profile.LoseGoalActivity" android:screenOrientation="portrait" />
        <activity android:name=".profile.WinGoalActivity" android:screenOrientation="portrait" />
        <activity android:name=".profile.SavingListActivity" android:screenOrientation="portrait" />
        <activity android:name=".profile.InvestmentListActivity" android:screenOrientation="portrait" />
        <activity android:name=".profile.InvestmentActivity" android:screenOrientation="portrait" />
        <activity android:name=".profile.SetGoalActivity" android:screenOrientation="portrait" />
        <activity android:name=".profile.MotgageActivity" android:screenOrientation="portrait" />
        <activity android:name=".profile.AddSavingActivity" android:screenOrientation="portrait" />
        <activity android:name=".setting.ChangePasswordActivity" android:screenOrientation="portrait" />
        <activity android:name=".login.SignupActivity" android:screenOrientation="portrait" />
        <activity android:name=".home.SetLiabilityActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".home.SetIncomeActivity"  android:screenOrientation="portrait"/>
        <activity
            android:name=".calendar.CalendarHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.SettingHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.TermActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.DiscloserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>